# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
bin
.settings
.classpath
.project
.eslintcache

# dependencies
src/client/node_modules
src/client/build

# test coverage
src/client/coverage