/* Begin reset stuff (thank you Josh Comeau; https://www.joshwcomeau.com/css/custom-css-reset) */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* End reset */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: hsl(210deg, 30%, 8%);
    color: #fff;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.1em;
}

a {
    text-decoration: none;
    color: #fff;
}

.recipe {
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.recipe:hover {
    transform: perspective(500px) rotateX(0deg) rotateY(-10deg) scale3d(1,1,1);
}

#container {
    max-width: 100%;
    margin: 1rem auto;
}

#search {
    text-align: center;
    margin-bottom: 1rem;
}

#search-input {
    width: 69%;
    border-radius: 6px;
    padding: 10px 10px 4px 10px;
    font-size: 1.8rem;
    border: 0;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    margin: 1rem;
    padding: 0;
    width: 40%;
}

.recipe-picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin-bottom: 7px;
    object-fit: cover;
}

.recipe-author {
    font-size: .9em;
    margin-top: 0.2em;
    line-height: 1.3em;
    color: hsl(210deg, 14%, 66%);
}

#pager {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

#pager a {
    text-decoration: none;
    color: hsl(210deg, 14%, 66%);
}

#pager a:hover {
    text-decoration: underline;
    color: hsl(210deg, 14%, 66%);
}

#pager a:visited {
    color: hsl(210deg, 14%, 66%);
}

#pager ul {
  padding: 0;
}

#pager li {
    display: inline;
    list-style-type: none;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: linear-gradient(
            to left,
            hsl(230deg 100% 16%) 0%,
            hsl(230deg 100% 32%) 8%,
            hsl(230deg 100% 32%) 92%,
            hsl(230deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    border-radius: 6px;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    padding: 5px 12px;
    font-size: 2rem;
    color: black;
    background: hsl(230deg, 100%, 80%);
}

.search-button-icon {
    position: relative;
    top: 0px;
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.current-page {
    text-shadow: 0 1px hsl(230deg, 100%, 69%);
}

.tiny {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 576px) {
    #container {
        max-width: 950px;
    }

    #search-input {
        max-width: 359px;
    }

    .recipe {
        width: 200px;
    }

    .recipe-picture {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 713px) {
    #search-input {
        width: 85%;
        max-width: 586px;
    }
}

@media (min-width: 945px) {
    #search-input {
        width: 89%;
        max-width: 819px;
    }
}

.mobile-view { display: none; }
.desktop-view { display: block; }

@media (max-width: 575.98px) {
    h2 { font-size: 1.3rem; }
    .mobile-view { display: block; }
    .desktop-view { display: none; }
 }