/* Begin reset stuff (thank you Josh Comeau; https://www.joshwcomeau.com/css/custom-css-reset) */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
/* End reset */

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#container {
    flex-shrink: 0;
}

footer {
    margin-top: auto;
    padding: 0 2rem 1rem 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: hsl(210deg, 30%, 8%);
    color: #fff;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.1em;
}

a {
    text-decoration: none;
    color: #fff;
}

.recipe {
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.recipe:hover {
    transform: perspective(500px) rotateX(0deg) rotateY(-10deg) scale3d(1,1,1);
}

#container {
    max-width: 100%;
    margin: 1rem auto;
}

#search {
    text-align: center;
    margin-bottom: 1rem;
}

#search-input {
    width: 72%;
    border-radius: 6px 0 0 6px;
    padding: 10px;
    font-size: 1.8rem;
    border: 0;
}

#search-button {
    border-radius: 0 6px 6px 0;
    font-size: 1.8rem;
    border: 0;
    background: hsl(230deg, 100%, 80%);
    padding: 10px 15px;
    cursor: pointer;
}

#search-icon {
    display: inline-block;
    transition: 200ms;
}

#search-button:hover #search-icon {
    transform: scale(1.2);
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    margin: 1rem;
    padding: 0;
    width: 40%;
}

.recipe-picture {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin-bottom: 7px;
    object-fit: cover;
}

.recipe-author {
    font-size: .9em;
    margin-top: 0.2em;
    line-height: 1.3em;
    color: hsl(210deg, 14%, 66%);
}

#pager {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

#pager a {
    color: hsl(210deg, 14%, 66%);
}

#pager a:hover {
    color: hsl(210deg, 14%, 90%);
}

#pager ul {
  padding: 0;
}

#pager li {
    display: inline;
    list-style-type: none;
}

.page-number {
    margin: 0 0.3em;
}

.current-page {
    font-weight: 700;
    color: hsl(230deg, 100%, 80%);
}

.footer-text {
    color: hsl(210deg, 14%, 66%);
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-text a {
    color: hsl(210deg, 14%, 66%);
}

.footer-text a:hover {
    color: hsl(210deg, 14%, 90%);
}

@media (min-width: 576px) {
    #container {
        width: 100%;
        max-width: 950px;
    }

    #search-input {
        max-width: 364px;
    }

    .recipe {
        width: 200px;
    }

    .recipe-picture {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 696px) {
    #search-input {
        width: 85%;
        max-width: 596px;
    }
}

@media (min-width: 928px) {
    #search-input {
        width: 89%;
        max-width: 827px;
    }
}

.mobile-view { display: none; }
.desktop-view { display: block; }

@media (max-width: 575.98px) {
    h2 { font-size: 1.3rem; }
    .mobile-view { display: block; }
    .desktop-view { display: none; }
 }